/*
 * Citizen
 *
 * SkinStyles for Extension:CampaignEvents
 * Module: ext.campaignevents.styles
 * Version:
 *
 * Date: 2025-04-09
*/

.cdx-accordion > summary:hover {
	cursor: pointer;
	background-color: var( --background-color-button-quiet--hover );
}

.cdx-accordion > summary:active {
	background-color: var( --background-color-button-quiet--active );
}
